numpy==1.26.4  # this is the last compatible version with spacy and thinc
scipy==1.11.3  --only-binary=:all:
spacy==3.6.1
langchain-aws
langchain-core
langchain-community
boto3
fastapi
uvicorn
sqlmodel
psycopg2-binary
python-dotenv
passlib[bcrypt]
pymongo[srv]
pandas
scikit-learn
git+https://github.com/AnasAito/SkillNER.git
pytest